{% extends 'base.html' %}

{% block title %} {{ book.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="container">
            <h2 class="text-center">{{ book.title }}</h2>
            <p class="text-center">{{ book.author }}</p>
            <p>Last updated: {{ book.last_updated }}</p>
            <div class="divider"></div>

            <div class="columns">
                <div class="column col-6">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive">
                    <div class="container mt-2">
                        <p class="text-bold text-large">Score: {{book.review.score}}</p>
                    </div>
                </div>
                <div class="column col-6">
                    <h3>Synopsis</h3>
                    <p>{{ book.synopsis }}</p>
                    <a href="{% url 'review_details' id=book.review.id %}" class="btn btn-secondary">Review</a>
                </div>
            </div>

            <div class="divider"></div>
            <a href="{{ book.url }}" class="btn btn-primary" target="_blank">Source</a>

            <div class="divider"></div>
            <div class="columns">
                <div class="column col-6">
                    <h4>Similar books</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Similar to</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book_similar in alike.similarities.all %}
                            <tr>
                                <td><a href="{% url 'ficha_libro' id=book_similar.id %}">
                                    <p class="text-italic">{{ book_similar.title }}</p>
                                </a> by {{ book_similar.author }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column col-6">
                    <h4>Categories</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in book.categories.all %}
                            <tr>
                                <td><a href="{% url 'list_by_category' id=tag.id %}">{{tag.name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
    <div class="menu">
        
    </div>
</div>
{% endblock %}
