{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Reviewer: {{reviewer.name}}</h1>
    <h2>Bio:</h2>
    <div class="container">
        <div class="columns">
            <div class="column col-6">
                <p>{{reviewer.bio}}</p>
            </div>
            <div class="column col-6">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr><th>Top Categories</th></tr>
                    </thead>
                    <tbody>
                        {% for cat in top_categories %}
                        <tr><td><a href="{% url 'list_by_category' id=cat.id %}">{{cat.name}}</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'recommend_book' id=reviewer.id %}" class="btn btn-secondary">Recommend</a>
    <div class="container">
        <h3>Total reviews: {{reviews.total}}</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-large text-bold">
                    <th>Book</th>
                    <th>Score</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews.list %}
                    <tr>
                        <td><a href="{% url 'ficha_libro' id=review.book.id %}">
                            <p class="text-italic">{{ review.book.title }}</p>
                        </a> by {{ review.book.author }}</td>
                        <td>{{ review.score }}</td>
                        <td><a class="btn" href="{% url 'review_details' id=review.id %}">Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}