{% extends 'base.html' %}

{% block title %}Estadisticas{% endblock %}

{% block content %}
<div class="hero-sm">
    <div class="hero-body">
        <h2>Libros por Fuente:</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-large text-bold">
                    <th>Fuente</th>
                    <th>Número de Libros</th>
                </tr>
            </thead>
            <tbody>
                {% for source, num_books in by_source.items %}
                    <tr>
                        <td>{{ source }}</td>
                        <td>{{ num_books }}</td>
                    </tr>
                {% endfor %}
                    <tr class="text-bold">
                        <td>Total</td>
                        <td>{{ total }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="menu">
    <p class="p-centered text-center">Los cambios se verán reflejados por cada libro que se actualice</p>
    <p class="p-centered text-center">Esta operación es larga pero el proceso se hace en una operación de fondo</p>
    <a href="{% url 'update_all_books' %}" class="btn btn-link  bg-dark text-light  p-centered">Actualizar todos los datos</a>
</div>

{% endblock %}