<!-- vista_libros.html -->

{% extends 'base.html' %}

{% block title %}Book list{% endblock %}

{% block content %}

<h2>Book list</h2>
<ul class="pagination">
    {% if books.has_previous %}
        <li class="page-item">
            <a href="?page=1">&laquo;&laquo;</a>
        </li>
        <li class="page-item">
            <a href="?page={{ books.previous_page_number }}">{{ books.previous_page_number }}</a>
        </li>
    {% endif %}

        <li class="page-item active">
            <a href="#">{{ books.number }}</a>
        </li>

    {% if books.has_next %}
        <li class="page-item">
            <a href="?page={{ books.next_page_number }}">{{ books.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a href="?page={{ books.paginator.num_pages }}">&raquo;&raquo;</a>
        </li>
    {% endif %}
</ul>

<div class="columns">
    {% for book in books %}
        <div class="column col-3">
            <a href="{% url 'ficha_libro' id=book.id %}">
                <div class="card" style="height: 15rem;">
                    <div class="card-image">
                        <img src="{{ book.image }}" alt="{{ book.title }}" class="img-responsive fit-cover" style="max-width: 7rem; max-height: 7rem;">
                    </div>
                    <div class="card-header">
                        <h4 class="card-title">{{ book.title }}</h4>
                        <p class="card-subtitle">{{ book.author }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
